// colors
$black-blue: #212135;
$blue-gray: #414169;
$smoky-blue: #32324d;
$light-blue: #6f6f9e;
$pale-orange: #e99670;
$bright-orange: #ee6f34;

//spacing
$small-size: 1.2rem;
$med-size: 1.6rem;
$large-size: 3.2rem;
$xlarge-size: 4.8rem;
$desktop-breakpoint: 45rem;

