@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html{
    font-size: 62.5%;
}

body {
    font-family: 'Inconsolata', monospace;
    font-size: $med-size;
}

.is-active {
    font-weight: bold;
}
