// add option error
.add-option-error {
    color: $pale-orange;
    font-style: italic;
    padding: 0 $med-size;
    margin: $med-size 0 0 0;
}

//add option
.add-option {
    display: flex;
    flex-direction: column;
    padding: $med-size;
}

.add-option__input {
    background: lighten($black-blue, 10%);
    border: none;
    color: $pale-orange;
    border-bottom: .2rem solid darken($black-blue, 10%);
    flex-grow: 1;
    margin: 0 0 $small-size 0; // margin-right: $small-size;
    padding: $small-size;
}

@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row;
    }
    .add-option__input {
        margin: 0 $small-size 0 0;
    }
}

