.header {
    background: $black-blue;
    margin-bottom: $xlarge-size;
    padding: $med-size 0;
    color: $bright-orange;
}

.header__title {
    font-size: $large-size;
    margin: 0;
}

.header__subtitle {
    color: $pale-orange;
    font-size: $med-size;
    font-weight: 500;
    margin: 0;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xlarge-size;
    }
}